<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <connectionStrings>
    <add name="default" connectionString="server=124.251.46.179;Database=Home_Customer_Test;uid=Home_Customer_w;pwd=bc948602;Connect Timeout=60"/>
    <add name="EBS_READ" connectionString="Data Source=123.103.35.138;Initial Catalog=jjjy_test1107;UID=jjjy_test_admin;PWD=3791f38D;"/>
    <add name="EBS_WRITE" connectionString="Data Source=123.103.35.138;Initial Catalog=jjjy_test1107;UID=jjjy_test_admin;PWD=3791f38D;"/>
  </connectionStrings>
  <appSettings>
    <!--<add key="ProducerbrokerIP" value="192.168.7.17"/>-->
  </appSettings>
</configuration>